<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
  , initial-scale=1.0"
    />

    <title>Login</title>
  </head>
  <body>
    <div>
      <!-- Sign-in Form -->
      <div id="authentication-form">
        <div>
          <!-- Form content -->
          <div>
            <!-- Header -->
            <div>
              <h3>Sign in to our platform</h3>
            </div>
            <!-- Form body -->
            <div>
              <form method="POST" action="">
                <div>
                  <label for="username">Your username</label>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="john_doe"
                    required
                  />
                </div>
                <div>
                  <label for="password">Your password</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="••••••••"
                    required
                  />
                </div>
                <button type="submit" w>Sign in to your account</button>
                <div>
                  Not Registered?
                  <a href="/register">Sign up</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
